{
  order cache before reverse_proxy

  cache {
    allowed_http_verbs GET HEAD POST
    key {
      hash
    }
    ttl 5m
    stale 1m
  }
}

http://:80 {
  route /api/yahoo-finance {
    cache
    reverse_proxy ssr-server:4000
  }

  route * {
    reverse_proxy ssr-server:4000
  }
}
