<p-card>
  <div class="d-flex">
    <div class="d-flex align-items-center me-auto">
      <p-fileUpload
        mode="basic"
        accept=".xml"
        [chooseIcon]="isPlatformServer(platformId) ?
        'pi pi-spin pi-spinner'
        :
        client() ?
        'pi pi-check'
        :
        'pi pi-upload'"
        (onSelect)="onFileSelected($event)"
        fileLimit="1"
        [maxFileSize]="40 * 1024 * 1024"
        chooseLabel="Upload XML"
        [auto]="true"
      ></p-fileUpload>
      <p-button icon="pi pi-question"
                size="small"
                class="ms-1"
                styleClass="rounded-pill"
                [outlined]="true"
                severity="secondary"
                (click)="op.toggle($event)"
      ></p-button>
    </div>
    <div class="d-flex">
      <p-button
        label="Download JSON"
        icon="pi pi-download"
        (onClick)="onDownload()"
        [disabled]="!client()"
      ></p-button>
    </div>
  </div>
</p-card>

<p-popover #op>
  <div class="flex-column">
    <div>Export your Portfolio Performance file as XML and upload it here.</div>
    <div class="text-center fw-light fst-italic">(File -> Save as -> XML with "id" attributes)</div>
  </div>
</p-popover>
<p-toast/>
