<p-card styleClass="mt-3">
  <div class="chart-container">
    <div [class.overlay]="isLoading()" [class.d-none]="!isLoading()">
      <p-progress-bar mode="indeterminate" [style]="{ height: '6px' }"></p-progress-bar>
    </div>
    <p-tabs [(value)]="range">
      <p-tablist>
        @defer (hydrate when !isLoading()) {
          @for (rangeOpt of rangeOptions(); track rangeOpt) {
            <p-tab [value]="rangeOpt">
              <span>{{ rangeOpt }}</span>
            </p-tab>
          }
        } @placeholder (minimum 100) {
          @for (v of supportedRanges; track v) {
            <p-tab [disabled]="true">
              <p-skeleton width="2rem"></p-skeleton>
            </p-tab>
          }
        }
      </p-tablist>
    </p-tabs>
    <p-chart type="line" [data]="data()" [options]="options()" [responsive]="true" height="500"></p-chart>
  </div>
</p-card>
