<p-card class="custom-card">
  <div class="flex">
    <div class="flex items-center mr-auto">
      <div>

        <p-button
          label="Upload XML"
          icon="pi pi-upload"
          (click)="fileInput.click()"
        ></p-button>
        <input
          #fileInput
          class="hidden"
          type="file"
          accept=".xml"
          (change)="onFileSelected($event)"
        />
      </div>
      <p-button icon="pi pi-question"
                size="small"
                class="ml-1"
                styleClass="rounded-pill"
                [outlined]="true"
                severity="secondary"
                (click)="op.toggle($event)"
      ></p-button>
    </div>
    <div class="flex">
      <p-button
        label="Download JSON"
        icon="pi pi-download"
        (onClick)="onDownload()"
        [disabled]="!client()"
      ></p-button>
    </div>
  </div>
  @if (isHydrating()) {
    <div class="progress-wrapper">
      <p-progressBar class="custom-progress" mode="indeterminate"></p-progressBar>
    </div>
  }
</p-card>

<p-popover #op>
  <div class="flex flex-col">
    <div>Export your Portfolio Performance file as XML and upload it here.</div>
    <div class="text-center font-light italic">(File -> Save as -> XML with "id" attributes)</div>
  </div>
</p-popover>
<p-toast/>
