@if (false) {
  <!--  We have to skip hydration until this issue is fixed: https://github.com/angular/angular/issues/50543-->
}
<p-table [value]="securities()" [paginator]="true" [rows]="15"
         [rowsPerPageOptions]="[15, 30, 50]"
         [loading]="!this._securities()"
         [globalFilterFields]="['name', 'isin', 'wkn', 'tickerSymbol', 'note']"
         dataKey="isin" ngSkipHydration #securitiesTable>
  <ng-template pTemplate="caption">
    <div class="flex justify-between gap-2">
      <p-button [outlined]="true" icon="pi pi-filter-slash" label="Clear" (click)="securitiesTable.clear()"/>
      <p-iconfield iconPosition="left">
        <p-inputicon>
          <i class="pi pi-search"></i>
        </p-inputicon>
        <input
          #searchInput
          pInputText
          type="text"
          (input)="securitiesTable.filterGlobal(searchInput.value, 'contains')"
          placeholder="Search..."
        />
      </p-iconfield>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="name">
        Name
        <p-sortIcon field="name"></p-sortIcon>
        <p-columnFilter type="text" field="name" display="menu"/>
      </th>
      <th pSortableColumn="isin">
        ISIN
        <p-sortIcon field="isin"></p-sortIcon>
        <p-columnFilter type="text" field="isin" display="menu"/>
      </th>
      <th pSortableColumn="wkn">
        WKN
        <p-sortIcon field="wkn"></p-sortIcon>
        <p-columnFilter type="text" field="wkn" display="menu"/>
      </th>
      <th pSortableColumn="tickerSymbol">
        Symbol
        <p-sortIcon field="tickerSymbol"></p-sortIcon>
        <p-columnFilter type="text" field="tickerSymbol" display="menu"/>
      </th>
      <th pSortableColumn="price">
        Price
        <p-sortIcon field="price"></p-sortIcon>
        <p-columnFilter type="numeric" field="price" display="menu" currency="USD"></p-columnFilter>
      </th>
      <th pSortableColumn="marketChange">
        Change
        <p-sortIcon field="marketChange"></p-sortIcon>
        <p-columnFilter type="numeric" field="marketChange" display="menu"></p-columnFilter>
      </th>
      <th [style.width]="10"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-security>
    <tr>
      <td>{{ security.name }}</td>
      <td>{{ security.isin }}</td>
      <td>{{ security.wkn }}</td>
      <td>
        @if (isHydrating()) {
          <p-skeleton width="4rem"></p-skeleton>
        } @else {
          {{ security.tickerSymbol }}
        }
      </td>
      <td>
        @if (hydrationRequest.isLoading()) {
          <p-skeleton width="4rem"></p-skeleton>
        } @else {
          {{ (security.price ?? '') | currency: security.priceCurrency ?? '' }}
        }
      </td>
      <td>
        @if (hydrationRequest.isLoading()) {
          <p-skeleton width="4rem"></p-skeleton>
        } @else {
          @if (security.marketChange !== undefined) {
            <p-tag [value]="(security.marketChange | percent:'.0-2' )?? ''"
                   [severity]="security.marketChange > 0 ? 'success' : 'danger'"
                   [icon]="security.marketChange > 0 ? 'pi pi-arrow-up' : 'pi pi-arrow-down'">
            </p-tag>
          }
        }
      </td>
      <td>
        <p-button icon="pi pi-search" [rounded]="true" [outlined]="true"
                  [disabled]="security.tickerSymbol === undefined" [routerLink]="['/security', security.tickerSymbol]">
        </p-button>
      </td>
    </tr>
  </ng-template>
</p-table>
<app-xml-missing-message></app-xml-missing-message>
